.wd-popup.wd-promo-popup{
	background-color:#111111;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:left center;
}

.page-title-default{
	background-color:#0a0a0a;
	background-size:cover;
	background-position:center center;
}

.footer-container{
	background-color:rgb(20,27,37);
}

:root{
--wd-text-font:"SF Ui Reguar", Arial, Helvetica, sans-serif;
--wd-text-font-weight:400;
--wd-text-color:rgb(15,15,15);
--wd-text-font-size:14px;
}
:root{
--wd-title-font:"SF Ui Bold", Arial, Helvetica, sans-serif;
--wd-title-font-weight:700;
--wd-title-color:#242424;
}
:root{
--wd-entities-title-font:"SF Ui Reguar", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight:500;
--wd-entities-title-color:#333333;
--wd-entities-title-color-hover:rgb(51 51 51 / 65%);
}
:root{
--wd-alternative-font:"SF Ui Reguar", Arial, Helvetica, sans-serif;
}
:root{
--wd-widget-title-font:"SF Ui Bold", Arial, Helvetica, sans-serif;
--wd-widget-title-font-weight:700;
--wd-widget-title-transform:none;
--wd-widget-title-color:#333;
--wd-widget-title-font-size:16px;
}
:root{
--wd-header-el-font:"SF Ui Bold", Arial, Helvetica, sans-serif;
--wd-header-el-font-weight:700;
--wd-header-el-transform:none;
--wd-header-el-font-size:13px;
}
:root{
--wd-primary-color:rgb(253,167,12);
}
:root{
--wd-alternative-color:rgb(139,231,216);
}
:root{
--wd-link-color:#333333;
--wd-link-color-hover:rgb(253,167,12);
}
body{
	background-color:rgb(250,250,250);
}

.page .main-page-wrapper{
	background-color:#fafafa;
}

.woodmart-archive-shop .main-page-wrapper{
	background-color:rgb(250,250,250);
}

.single-product .main-page-wrapper{
	background-color:rgb(250,250,250);
}

.woodmart-archive-blog .main-page-wrapper{
	background-color:rgb(250,250,250);
}

.single-post .main-page-wrapper{
	background-color:rgb(250,250,250);
}

.woodmart-archive-portfolio .main-page-wrapper{
	background-color:rgb(250,250,250);
}

.single-portfolio .main-page-wrapper{
	background-color:rgb(250,250,250);
}

:root{
--btn-default-bgcolor:rgb(253,167,12);
}
:root{
--btn-default-bgcolor-hover:rgb(222,113,30);
}
:root{
--btn-shop-bgcolor:rgb(253,167,12);
}
:root{
--btn-shop-bgcolor-hover:rgb(222,113,30);
}
:root{
--btn-accent-bgcolor:rgb(253,167,12);
}
:root{
--btn-accent-bgcolor-hover:rgb(222,113,30);
}
:root{
--notices-success-bg:#459647;
}
:root{
--notices-success-color:#fff;
}
:root{
--notices-warning-bg:#E0B252;
}
:root{
--notices-warning-color:rgb(86,86,86);
}
	:root{
	
	
			--wd-form-brd-radius: 0px;
	
	--wd-form-brd-width: 2px;

	--btn-default-color: #333;
	--btn-default-color-hover: #fff;

	--btn-shop-color: #333;
	--btn-shop-color-hover: #fff;

	--btn-accent-color: #333;
	--btn-accent-color-hover: #fff;
	
	
	
	
	
	
	
	
	
			--btn-default-brd-radius: 5px;
		--btn-default-box-shadow: none;
		--btn-default-box-shadow-hover: none;
	
			--btn-shop-brd-radius: 5px;
		--btn-shop-box-shadow: none;
		--btn-shop-box-shadow-hover: none;
	
			--btn-accent-brd-radius: 5px;
		--btn-accent-box-shadow: none;
		--btn-accent-box-shadow-hover: none;
		}

	/* Site width */
		/* Header Boxed */
	@media (min-width: 1025px) {
		.whb-boxed:not(.whb-sticked):not(.whb-full-width) .whb-main-header {
			max-width: 1330px;
		}
	}

	.container {
		max-width: 1360px;
	}
	
	
	@media (min-width: 1360px) {

		[data-vc-full-width]:not([data-vc-stretch-content]) {
			padding-left: calc((100vw - 1360px) / 2);
			padding-right: calc((100vw - 1360px) / 2);
		}

		.platform-Windows [data-vc-full-width]:not([data-vc-stretch-content]) {
			padding-left: calc((100vw - 1377px) / 2);
			padding-right: calc((100vw - 1377px) / 2);
		}
	}

	
/* Quick view */
div.wd-popup.popup-quick-view {
	max-width: 920px;
}

/* Shop popup */
div.wd-popup.wd-promo-popup {
	max-width: 800px;
}

/* Age verify */
div.wd-popup.wd-age-verify {
	max-width: 500px;
}

/* Header Banner */
.header-banner {
	height: 40px;
}

body.header-banner-display .website-wrapper {
	margin-top:40px;
}

/* Tablet */
@media (max-width: 1024px) {
	/* header Banner */
	.header-banner {
		height: 40px;
	}
	
	body.header-banner-display .website-wrapper {
		margin-top:40px;
	}
}

.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 280px;
}
		
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//localhost:8888/wp-content/themes/woodmart/fonts/woodmart-font.woff2?v=6.2.4") format("woff2");
	font-display:swap;
}

@font-face {
	font-family: "SF Ui Light";
	src: url("//localhost:8888/wp-content/uploads/2022/01/SFUIDisplay-Light.woff2") format("woff2"), 
url("//localhost:8888/wp-content/uploads/2022/01/SFUIDisplay-Light.woff") format("woff");
	font-weight: 200;
	font-display:swap;
	font-style: normal;
}

@font-face {
	font-family: "SF Ui Bold";
	src: url("//localhost:8888/wp-content/uploads/2022/01/SFUIDisplay-Bold.woff2") format("woff2"), 
url("//localhost:8888/wp-content/uploads/2022/01/SFUIDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-display:swap;
	font-style: normal;
}

@font-face {
	font-family: "SF Ui Reguar";
	src: url("//localhost:8888/wp-content/uploads/2022/01/SFUIDisplay-Regular.woff2") format("woff2"), 
url("//localhost:8888/wp-content/uploads/2022/01/SFUIDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-display:swap;
	font-style: normal;
}

.searchform {
	border: 1px solid white;
	border-radius:6px;
	background: white;
	padding-left:15px;
}
.searchform .searchsubmit:hover::before {
	background: rgb(253,167,12);
}

.searchform input{
	color: black;
}
.searchform .searchsubmit{
	color:black;
}
@media (min-width: 1025px) {
	.whb-col-center{
	max-width:600px;
}
.wd-carousel-spacing-30 .owl-carousel:not(.owl-loaded)>div, .wd-carousel-spacing-30 .owl-item {
	padding-left: 0px;
}
.vc_column_container>.vc_column-inner{
	padding-right:0px;
}
.custom-menu{
	height:404px;
	margin-bottom:50px;
}
.owl-nav{
	display:none;
}
}

@media (max-width: 576px) {
	.searchform input{
	padding-left:15px;
}

}

