

.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -1px;
	margin-bottom: -0px;
	height: calc(100% + 1px);
}


@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 104px;
		max-height: 104px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}
		
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
	
	}
		
.whb-top-bar {
	background-color: rgba(130, 183, 53, 1);
}

.whb-general-header {
	background-color: rgba(20, 27, 37, 1);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-header-bottom {
	background-color: rgba(20, 27, 37, 1);
}
